.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input {
  width: 250px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: burlywood;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  height: 41.33px;
}

.backButton {
  background-color: burlywood;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover,
.backButton:hover {
  background-color: #deb887;
}

.button:active,
.backButton:active {
  background-color: #8b7355;
}
.error {
  color: rgb(72, 3, 3);
  font-weight: bold;
}

@media (max-width: 400px) {
  .input {
    width: 150px;
  }

  .button {
    padding: 10px;
  }
}
