.singleCard {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.typesContainer {
  display: flex;
  gap: 5px;
}

.responsiveGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  height: 100%;
  margin-top: 2.5rem;
}
@media (max-width: 500px) {
  .typesContainer {
    flex-direction: column;
  }
}
